.card {
  max-width: 390px;
  border: 1px solid var(--color-gray-300);
  border-radius: 4px;
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03),
    0 12px 10px -6px rgba(154, 156, 165, 0.04),
    0 30px 24px -10px rgba(154, 156, 165, 0.05),
    0 80px 80px -20px rgba(154, 156, 165, 0.08);

  &[data-category='marketing'] {
    --tag-bg: var(--color-tag-marketing);
  }
  &[data-category='management'] {
    --tag-bg: var(--color-tag-management);
  }
  &[data-category='hr'] {
    --tag-bg: var(--color-tag-hr);
  }
  &[data-category='design'] {
    --tag-bg: var(--color-tag-design);
  }
  &[data-category='development'] {
    --tag-bg: var(--color-tag-development);
  }

  &__tag {
    display: block;
    padding: 1px 8px;
    background: var(--tag-bg);
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--color-white);
    border-radius: 4px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: clamp(20px, 3vw, 24px);
  }

  &__title {
    font-weight: 700;
    font-size: clamp(16px, 2.8vw, 20px);
    color: var(--color-gray-900);
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__price {
    position: relative;
    font-weight: 700;
    font-size: clamp(12px, 2.8vw, 18px);
    color: var(--color-red-price);

    &::after {
      content: '';
      position: absolute;
      right: -8px;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 16px;
      background: var(--color-gray-700);
    }
  }

  &__author {
    font-weight: 400;
    font-size: clamp(12px, 2.8vw, 18px);
    color: var(--color-gray-700);
  }
}
