:root {
  --color-white: #fff;
  --color-red-filter: #ff3f3a;
  --color-yellow: #ffcf2d;
  --color-red-price: #ff4242;

  --color-tag-marketing: #03cea4;
  --color-tag-management: #5a87fc;
  --color-tag-hr: #f89828;
  --color-tag-design: #f52f6e;
  --color-tag-development: #7772f1;

  --color-gray-900: #1e212c;
  --color-gray-800: #424551;
  --color-gray-700: #787a80;
  --color-gray-600: #9a9ca5;
  --color-gray-400: #d7dadd;
  --color-gray-300: #e5e8ed;

  --container: clamp(320px, 92vw, 1230px);
  --gap: clamp(16px, 2.5vw, 30px);
}
